[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Aa]ssets/[Pp]rivate/
Assets/Private.meta

# Ignore the following file extensions
*.DS_Store
*.vcproject
# *.sln
# *.csproj
*.unityproj
*.pidb
*.userprefs
=======
*.vcproject
*.sln
=======
Temp
Library
build